<div class="amazon-banner">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=pc_accessories&banner=19BSN7SVBDQY1WBMYN02&f=ifr&linkID=bfb51ac4c4b641cce5f553e738a17922&t=uuuu-22&tracking_id=uuuu-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</div>
<div class="google-banner">
    <!-- AppleWatchLove -->
    <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-9198003416420881"
        data-ad-slot="1871716613"
        data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
</div>

<div class="amazon-banner">
    <iframe src="https://rcm-fe.amazon-adsystem.com/e/cm?o=9&p=12&l=ur1&category=pc_accessories&banner=1Z90RCX1R78MF6K4SAG2&f=ifr&linkID=a1c74d1554cd43f6a7f794be80157757&t=uuuu-22&tracking_id=uuuu-22" width="300" height="250" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
</div>
